body {
    background: #eee;
}

/*#cols-list,*/
/*#rows-list,*/
/*#leds-matrix {*/
/*    font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;*/
/*    border-spacing: 5px;*/
/*    border-collapse: separate;*/
/*}*/


.row {
  margin: 10px 5px;
}
  
.column {
  float: left;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

#leds-matrix .item,
#cols-list .item,
#rows-list .item {
    width: 25px;
    min-width: 25px;
    max-width: 25px;

    height: 25px;
    min-height: 25px;
    max-height: 25px;

    cursor: pointer;
    font-size: 17px;
}

#leds-matrix .item {
    border-radius: 50%;
    box-shadow: inset 0 0 1px #666666;
    background: #808080 radial-gradient(ellipse at 42% 42%, #999999 0%, #808080 50%);
}

#leds-matrix {
    background-color: #333;
    box-shadow: 1px 1px 10px #333;
}

#frames .green-leds.item.active,
#leds-matrix .green-leds.item.active {
    background: #00ff00 radial-gradient(ellipse at 42% 42%, #ffffff 0%, #00ff33 25%, #00ff00 50%);
}

body.blue-leds #matrix-toggle:hover,
body.blue-leds #cols-list .item:hover,
body.blue-leds #rows-list .item:hover,
body.blue-leds #cols-list .item.hover,
body.blue-leds #rows-list .item.hover {
    color: #0033ff;
    font-weight: bold;
}

#frames .blue-leds.item.active,
#leds-matrix .blue-leds.item.active {
    background: #0000ff radial-gradient(ellipse at 42% 42%, #ffffff 0%, #0033ff 25%, #0000ff 50%);
}


#player {
    display: inline-block;
    padding: 10px;
}

#play-delay-input {
    height: 25px;
    width: 65px;
    padding: 5px;
}

#hex-input {
    text-align: center;
    width: 150px;
    padding: 5px;
}

#edit-buttons-container {
    padding: 10px;
}

#shift-buttons-container {
    display: inline-block;
    position: relative;
    box-sizing: content-box;
    width: 170px;
    height: 120px;
	margin-left: 10px;
	background-color: #26477a;
	border: solid 1px #547eae;
	padding: 5px 0 0 20px;
	color: white;
	font-weight: 700;
}

#update-button,
#delete-button,
#insertrand-button,
#hexrand-button,
#deleteall-button,
#hex_save,
#prog_list,
#seq_list,
#insert-button {
    width: 95px;
    height: 30px;
    margin: 0 5px;
}

#seq_default {
	width: 115px;
	height: 30px;
	margin: 0 5px;
}
#service_start_stop,
#service_restart {
	width: 115px;
	height: 30px;
	margin: 7px 0 0 10px;
	font-weight: 700;
}
#default_sequence_name {
	font-weight: 700;
	background-color: #26477a;	
	color: white;
	padding: 5px;
}

#rotate-button,
#rotate-back-button,
#invert-button,
#shift-up-button,
#shift-right-button,
#shift-down-button,
#shift-left-button {
    position: absolute;
    height: 30px;
    width: 30px;
    font-size: 15px;
    box-sizing: border-box;
}

.leds-case {
    display: inline-block;
    width: 25px;
    height: 25px;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: inset 0 0 1px #333333;
    background: #cccccc radial-gradient(circle at center, lightgray 0%, darkgray 100%);
}

#leds-matrix .item:hover,
.leds-case:hover {
    box-shadow: 0 0 1px #cccccc;
}

#collaps-theme {
    display: inline-block;
    width: 25px;
    height: 25px;
    cursor: pointer;
    background-image: url('img/collaps-icon.png');
    margin-left: 25px;
}

#frames {
    padding: 5px;
    height: 235px;
    overflow-y: scroll;
    text-align: left;
    border: solid #666666 1px;
    background: #ccc linear-gradient(#ccc, #aaa)
}

#frames .frame {
    margin: 2px;
    display: inline-block;
    background-color: #333;
    border-spacing: 2px;
    border-collapse: separate;
    border: solid #ccc 3px;
}

#frames .frame .item {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    box-shadow: inset 0 0 1px #333333;
    background: #808080;
}

#frames .frame.selected {
    border-color: #3399ff;
}

#frames .command {
	width: 100px;
	text-align: center;
	display: inline-block;
	float: left;
	padding: 10px;
	color: white;
}

#output {
    font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
    resize: none;
    padding: 5px;
    height: 280px;
    overflow-y: scroll;
}

#hex_list {
	display: block;
	padding: 5px;
	margin-top: 5px;
   	box-sizing: border-box;
	width: 100%;
}

/*Themes*/

.collaps-theme #collaps {
    background-image: url('img/collaps.jpg');
    padding: 5px;
}

.collaps-theme #matrix {
    color: white;
    border: solid 1px #547eae;
    background-color: #26477a;
    box-shadow: 10px 10px 10px #333;
    margin: 10px;
}

.collaps-theme #leds-container {
    border: solid 1px #808080;
}

.collaps-theme #player,
.collaps-theme #shift-buttons-container,
.collaps-theme #edit-buttons-container {
    background-color: #26477a;
    border: solid 1px #547eae;
    box-shadow: 10px 10px 10px #333;

}


#frames {
    user-select: none;
    -webkit-user-select: none;
}

#prog {
	display: inline-block;
}
