[Unit]
Description="Master process for pharma"
After=network.target
After=systemd-udev-settle.service
After=dev-ttyAMA0.device
Requires=dev-ttyAMA0.device

[Service]
Type=simple
User=compost
Group=dialout
WorkingDirectory=/home/compost/pharma-main-unit/src/
ExecStart=/usr/bin/python3 master.py
Restart=on-failure
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
