[Unit]
Description="Web interface process for pharma"
After=network.target
# start after pharma for inter process communication with socket
After=pharma.service

[Service]
Type=simple
User=compost
GuessMainPID=yes
ExecStart=python webctrl.py
ExecStop=kill -SIGINT $mainpid
Restart=on-failure
WorkingDirectory=/home/compost/pharma-main-unit/src/
# view real time log in journactl
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target


