[Unit]
Description="Master process for pharma"
After=network.target

[Service]
Type=simple
User=compost
GuessMainPID=yes
ExecStart=python master.py
ExecStop=kill -SIGINT $mainpid
Restart=on-failure
WorkingDirectory=/home/compost/pharma-main-unit/src/
# affichage des log en temps reel dans journactl
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target


