[Unit]
Description="Shutdown on GPIO button press"
After=multi-user.target

[Service]
ExecStart=/bin/bash -c 'source /home/compost/pharma-venv/bin/activate && python shutdown.py'
Restart=always
User=root
WorkingDirectory=/home/compost/pharma-main-unit/src/

[Install]
WantedBy=multi-user.target

