[Unit]
Description="Web config for pharma"
Wants=network.target
After=default.target


[Service]
Type=simple
GuessMainPID=yes
ExecStart=python webctrl.py
ExecStop=kill -SIGINT $mainpid
Restart=on-failure
WorkingDirectory=/home/compost/pharma-main-unit/src/
# affichage des log en temps reel dans journactl
Environment=PYTHONUNBUFFERED=1
User=compost

[Install]
WantedBy=default.target


