aiohappyeyeballs @ file:///home/conda/feedstock_root/build_artifacts/aiohappyeyeballs_1741775197943/work
aiohttp @ file:///home/conda/feedstock_root/build_artifacts/aiohttp_1740481426959/work
aiosignal @ file:///home/conda/feedstock_root/build_artifacts/aiosignal_1734342155601/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1737819173731/work
Brotli @ file:///croot/brotli-split_1736182456865/work
certifi @ file:///croot/certifi_1754570635119/work/certifi
cffi @ file:///croot/cffi_1736182485317/work
charset-normalizer @ file:///croot/charset-normalizer_1721748349566/work
cheroot @ file:///work/perseverance-python-buildout/croot/cheroot_1728414558827/work
CherryPy @ file:///home/conda/feedstock_root/build_artifacts/cherrypy_1733382638354/work
click @ file:///croot/click_1744271578095/work
contourpy @ file:///croot/contourpy_1732540045555/work
cryptography @ file:///croot/cryptography_1740577825284/work
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
docopt @ file:///work/perseverance-python-buildout/croot/docopt_1728403030048/work
fonttools @ file:///croot/fonttools_1737039080035/work
frozenlist @ file:///home/conda/feedstock_root/build_artifacts/frozenlist_1737645236190/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1733211830134/work
jaraco.classes @ file:///tmp/build/80754af9/jaraco.classes_1620983179379/work
jaraco.collections @ file:///tmp/build/80754af9/jaraco.collections_1617120945298/work
jaraco.functools @ file:///croot/jaraco.functools_1740408111753/work
jaraco.text @ file:///io/perseverance-python-buildout/croot/jaraco.text_1731711106107/work
kiwisolver @ file:///croot/kiwisolver_1737039087198/work
matplotlib==3.10.0
minimalmodbus @ file:///home/conda/feedstock_root/build_artifacts/minimalmodbus_1735228319753/work
more-itertools @ file:///work/perseverance-python-buildout/croot/more-itertools_1728388668839/work
multidict @ file:///home/conda/feedstock_root/build_artifacts/multidict_1733913043842/work
numpy @ file:///croot/numpy_and_numpy_base_1742570410886/work/dist/numpy-2.2.4-cp313-cp313-linux_x86_64.whl#sha256=ae3b853b3cc894a813af5458bc750f96a039e334e8c4e4ae5ac840a34a6fce64
packaging @ file:///croot/packaging_1734472117206/work
pillow @ file:///croot/pillow_1744613067434/work
pipreqs==0.4.13
portend @ file:///tmp/build/80754af9/portend_1613763469178/work
prompt_toolkit @ file:///work/perseverance-python-buildout/croot/prompt-toolkit_1728511366266/work
propcache @ file:///home/conda/feedstock_root/build_artifacts/propcache_1737635528546/work
PyAudio @ file:///home/conda/feedstock_root/build_artifacts/pyaudio_1730446190121/work
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
Pygments @ file:///croot/pygments_1744664109463/work
pymodbus @ file:///home/conda/feedstock_root/build_artifacts/pymodbus_1644118792326/work
pyOpenSSL @ file:///croot/pyopenssl_1741343803032/work
pyparsing @ file:///io/buildout/croot/pyparsing_1735862672222/work
PyQt6==6.7.1
PyQt6_sip @ file:///croot/pyqt-split_1740498191142/work/pyqt_sip
pyserial @ file:///home/conda/feedstock_root/build_artifacts/pyserial_1734140157046/work
pyserial-asyncio @ file:///home/conda/feedstock_root/build_artifacts/pyserial-asyncio_1736238971283/work
PySocks @ file:///work/perseverance-python-buildout/croot/pysocks_1728386193338/work
python-dateutil @ file:///work/perseverance-python-buildout/croot/python-dateutil_1728385355105/work
pytz @ file:///work/perseverance-python-buildout/croot/pytz_1728386814080/work
repoze.lru @ file:///io/buildout/croot/repoze.lru_1735844573621/work
requests @ file:///croot/requests_1730999120400/work
Routes @ file:///io/buildout/croot/routes_1735863402981/work
setuptools==72.1.0
simplejson @ file:///croot/simplejson_1736541135481/work
sip @ file:///croot/sip_1738856193618/work
six @ file:///tmp/build/80754af9/six_1644875935023/work
tempora @ file:///tmp/build/80754af9/tempora_1624535136503/work
tornado @ file:///io/buildout/croot/tornado_1735842129908/work
urllib3 @ file:///croot/urllib3_1737133630106/work
wcwidth @ file:///Users/ktietz/demo/mc3/conda-bld/wcwidth_1629357192024/work
wheel==0.45.1
yarg==0.1.9
yarl @ file:///home/conda/feedstock_root/build_artifacts/yarl_1737575777699/work
zc.lockfile @ file:///Users/ktietz/demo/mc3/conda-bld/zc.lockfile_1629299854832/work
